ssh_pwauth: True
users:
  - name: ybadmin
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      %{ for public-key in ybadmin-authorized-keys ~}
      - ${public-key}
      %{ endfor ~}
chpasswd:
  list: |
    ybadmin:${ybadmin-password}"
  expire: False
